<div class="jumbotron text-center">
    <h1>Memory Gym</h1>
    <p class="lead">
        <blockquote class="blockquote">
            The human brain has 100 billion neurons, each neuron connected to 10 thousand other neurons. Sitting on your shoulders is the most complicated object in the known universe.
            <footer><cite title="Source Title">Michio Kaku</cite></footer>
        </blockquote>
    </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Exercise your brain</a></p>
</div>
