<div id="divNamesAndFaces" ng-controller="NamesAndFacesController as naf">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <img ng-src="{{naf.currentFaceUrl}}" class="img-thumbnail" alt="... no face ...">
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="row">
                <div class="col-md-2"><label class="label label-warning">{{naf.faceIndex+1}} of {{naf.faces.length}}</label></div>
                <div style="border:1px solid green;" class="cold-md-2 col-md-offset-1">Points: {{2*naf.faceIndex}}</div>
                <div style="border:1px solid green;" class="cold-md-2 col-md-offset-1">Time Remaining: 14:42</div>
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>
                <!--div class="col-md-1 col-md-offset-1" style="margin-top:28px; margin-bottom:40px;"><a href='' ng-click='naf.nextFace()' class="glyphicon glyphicon-arrow-right" style="font-size: 2.5em"></a></div-->
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1" style="margin-top:30px;">
                    <form>
                        <div class="form-group">
                            <label class="text-primary" for="Name">Full Name</label>
                            <input type="text" ng-model="naf.Name" ng-keyup="naf.checkForMatch($event)" class="form-control input-lg" id="Name" placeholder="name" autocomplete="off">
                        </div>
                    </form>
                    <div>
                        {{naf.faces[naf.faceIndex].name.first + ' ' + naf.faces[naf.faceIndex].name.last}}
                    </div>
                    <div>
                        {{Name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <a ui-sref="namesandfaces.list">Show all people</a>
    <div ui-view="viewList"><div>
</div>
